body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  background: white;
  width: 360px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
}
